<div>
    <div class="mt-3 mb-2 pl-2 flex flex-col lg:flex-row lg:gap-4 justify-center items-center">
        <div class="flex flex-col">
            <label class="pb-1" id="search-label" for="search">Selecciona municipio</label>
            <select class="border-4 px-4 py-2" name="search" id="search" (change)="onMunicipalityChange($event)">
                <option value=""  disabled selected>Municipio</option>
                <option *ngFor="let municipality of municipalities" [value]="municipality.nombre_municipio">
                    {{ municipality.nombre_municipio }}
                </option>
            </select>
        </div>
        <div class="flex flex-col">
            <label class="pb-1" id="search-label-2" for="search-2">Selecciona calle</label>
            <select class="border-4 px-4 py-2" name="search-2" id="search-2" (change)="onStreetChange($event)">
                <option value="" disabled selected>Calle</option>
                <option *ngFor="let street of streets" [value]="street.nombre_calle">
                    {{ street.nombre_calle }}
                </option>
            </select>
        </div>
    </div>
    <app-fianza-list [selectedMunicipality]="selectedMunicipality" [selectedStreet]="selectedStreet" class="bg-white z-0 p-2 border-t-2 flex justify-between flex-grow-0 flex-1"></app-fianza-list>
</div>
