<div>
    <div id="div-form" class="mt-3 mb-2 pl-2 flex flex-col">
        <label class="pb-1" id="search-label" for="search">Selecciona municipio</label>
        <select class="border-4 px-4 py-2" name="search" id="search">
            <option value="" disabled selected>Municipio</option>
            <option value="municipio1">Municipio 1</option>
            <option value="municipio2">Municipio 2</option>
            <option value="municipio3">Municipio 3</option>
        </select>
    </div>
</div>
<style>
    #div-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
