<div class="flex items-center gap-2">
</div>
<div class="flex gap-3 text-gray-800 pt-1 font-sm lg:font-base text-gray-700">
    <p>
        Realizado con los datos abiertos de
        <a class="underline"
            href="https://opendata.aragon.es/datos/catalogo/dataset/fianzas-de-alquileres-de-vivienda-depositadas-en-el-gobierno-de-aragon"
            title="Enlace a 'Fianzas de alquileres de vivienda depositadas en el Gobierno de Aragón' ">Aragón
            Open Data</a> y los servicios del
        <a class="underline"
            href="https://www.aragon.es/organismos/departamento-de-vertebracion-del-territorio-movilidad-y-vivienda/direccion-general-de-ordenacion-del-territorio/instituto-geografico-de-aragon-igear-">Instituto
            Geográfico de Aragón</a>
    </p>
</div>