<div class="flex items-center gap-2">
    <a href="https://aragon.es">
        <img src="/assets/img/logo-ga.svg" alt="Gobierno de Aragón" class="h-8
    hidden lg:block" />
        <!-- En móviles mostrar el minilogo mejor -->
        <img src="/assets/img/logo-ga-mini.svg" alt="Gobierno de Aragón" class="h-8 w-8 lg:hidden" />
    </a>
    <span class="text-sm hidden lg:block">&copy; 2021</span> <!-- TODO ¿Es necesario? -->
</div>
<ul class="flex gap-3 text-gray-800 pt-1 font-sm lg:font-base text-gray-700">
    <li>
        Realizado con los datos abiertos de 
        <a class="underline" href="https://opendata.aragon.es/datos/catalogo/dataset/fianzas-de-alquileres-de-vivienda-depositadas-en-el-gobierno-de-aragon">Aragón Open Data</a> y los servicios del 
        <a class="underline" href="https://www.aragon.es/organismos/departamento-de-vertebracion-del-territorio-movilidad-y-vivienda/direccion-general-de-ordenacion-del-territorio/instituto-geografico-de-aragon-igear-">Instituto Geográfico de Aragón</a>
    </li>
</ul>
<ul class="flex gap-3 text-gray-800 underline pt-1 font-sm lg:font-base text-gray-700">
    <li>
        <a href="https://www.aragon.es/-/politica-de-privacidad">
            Privacidad
        </a>
    </li>
    <li class="flex-grow">
        <a class="inline-block lg:hidden underline" href="https://opendata.aragon.es/informacion/open-data">
            Términos
        </a>
        <a class="hidden lg:inline-block underline" href="https://opendata.aragon.es/informacion/open-data">
            Términos de uso y licencia
        </a>
    </li>
    <li>
        <a class="underline" href="https://github.com/aragonopendata/alquileres">Código <span
                class="hidden underline lg:inline-block">fuente</span></a>
    </li>
</ul>