<div class="overflow-x-auto">
    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Municipio</th>
                <th class="py-2 px-4 border-b">Calle</th>
                <th class="py-2 px-4 border-b">Tipo</th>
                <th class="py-2 px-4 border-b">Año</th>
                <th class="py-2 px-4 border-b">Año Devolución</th>
                <th class="py-2 px-4 border-b">Total Importes</th>
                <th class="py-2 px-4 border-b">Total Devolución</th>
                <th class="py-2 px-4 border-b">Total Rentas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fianza of fianzas">
                <td class="py-2 px-4 border-b">{{ fianza.nombre_municipio }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.nombre_calle }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.tipo }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.anyo }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.anyo_devolucion }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.total_importes }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.total_devolucion }}</td>
                <td class="py-2 px-4 border-b">{{ fianza.total_rentas }}</td>
            </tr>
        </tbody>
    </table>
</div>
