<div id="popup" class="ol-popup" [class.hidden]="isHide">

    <div class="flex">
        <div class="font-bold text-lg leading-none">{{popupInfo.via_loc}}</div>
        <button (click)="onClosePopup()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>

    <div class="pt-2 flex gap-5">
        <div>
            <p class="flex items-center gap-1 text-gray-800 font-tabular-lining">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                Viviendas
            </p>

            <div>
                <span class="font-bold text-2xl">{{popupInfo.vivienda_media}}</span>
                <span class="text-gray-600 tracking-tighter"> media</span>
            </div>

            <div class="pt-2 flex-col gap-3">
                <div>
                    <span class="font-semibold text-lg">{{popupInfo.vivienda_min}}</span>
                    <span class="text-gray-600 text-sm tracking-tighter"> mín.</span>
                </div>
                <div>
                    <span class="font-semibold text-lg">{{popupInfo.vivienda_max}}</span>
                    <span class="text-gray-600 text-sm tracking-tighter"> máx.</span>
                </div>
            </div>
        </div>

        <div>
            <p class="flex items-center gap-1 text-gray-800">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                Locales
            </p>

            <div>
                <span class="font-bold text-2xl">{{popupInfo.local_media}}</span>
                <span class="text-gray-600 tracking-tighter"> media</span>
            </div>

            <div class="pt-2 flex-col gap-3">
                <div>
                    <span class="font-semibold text-lg">{{popupInfo.local_min}}</span>
                    <span class="text-gray-600 text-sm tracking-tighter"> mín.</span>
                </div>
                <div>
                    <span class="font-semibold text-lg">{{popupInfo.local_max}}</span>
                    <span class="text-gray-600 text-sm tracking-tighter"> máx.</span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <canvas #chart></canvas>
    </div>
    <p class="pt-3 text-sm text-gray-600">Datos de {{popupInfo.anyo}}</p>
</div>