<div id="map" class="absolute w-full h-full overflow-hidden" [class.opacity-10]="!isDone"></div>

<div id="map-overlay" class="p-4 absolute w-full h-full
overflow-hidden" *ngIf="searchString===''">
    <div class="flex justify-center lg:justify-between">
        <div class="align-center"></div>
        <div class="flex flex-col items-center">
            <svg class="h-10 w-10 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
            <div class="p-4 lg:mr-auto border-2 rounded-md bg-white max-w-xs shadow">
                <h2 class="font-semibold pb-2">¿Dónde quieres empezar?</h2>
                <p>Escribe un CP, una dirección completa o una localidad aragonesa para ver los precios de los alquileres en la zona.</p>
            </div>
        </div>
    </div>
</div>

<app-popup [featureSelect]="featureSelect" [isHide]="isPopupHide"></app-popup>
